.button {
  color: var(--bs-blue);
  font-weight: 700;
}

.bg-3 {
  background-color: var(--header-bg);
}

.bg-trans {
  background-color: transparent;
}

.header {
  height: 80px;
  padding: 0 40px;
  position: fixed;
  z-index: 3;
  top: 0px;
  left: 0px;
  right: 0px;
  background-color: transparent;
  backdrop-filter: blur(42px);
  -webkit-backdrop-filter: blur(42px);
}

.banner {
  position: relative;
  img {
    background: center center no-repeat;
    width: 100%;
    box-shadow: 20px 20px 40px #000 inset;
  }
}

.introduction {
  background-color: #000;
}

.intro-container {
  max-width: 1300px;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(to bottom, transparent, #000 100%, #000 100%);
  height: 650px;
}
